@font-face {
    font-family: 'HarmonyOS Sans';
    src: local('HarmonyOSHans'),
         local('HarmonyOS Sans SC'),
         local('HarmonyOS Sans TC'),
         url('./fonts/HarmonyOSHans-VF.ttf.woff2') format('woff2-variations');
    font-display: block;
}
