.toc {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.3;
    box-sizing: border-box;
    width: 18rem;
    background: #ffffff;
    border-right: 1px solid #cccccc;
    padding: 0.2rem 0;
    user-select: none;

    .os-scrollbar {
        --os-size: 11px;
        --os-padding-axis: 3px;
        --os-padding-perpendicular: 3px;
        --os-handle-bg: rgba(0, 0, 0, 0.4);
        --os-handle-bg-hover: rgba(0, 0, 0, 0.5);
        --os-handle-bg-active: rgba(0, 0, 0, 0.6);
    }
}

.toc-item {
    padding: 0.25rem 0.5rem;
    margin: 0.1rem 0.3rem;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
        background: #e8e8e8;
    }

    &:active {
        background: #d0d0d0;
    }

    &.current {
        background-color: #456990;
        color: #ffffff;
    }

    &.child {
        font-weight: 450;
        padding-left: calc(1em + 0.5rem);
    }

    &.hidden {
        display: none;
    }
}
