.toolbar {
    width: 100vw;
    padding: 0.4rem 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    box-sizing: border-box;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    user-select: none;

    .sep {
        width: 1px;
        height: 1.4rem;
        margin: 0 0.4rem;
        background: #bbbbbb;
    }
}

.toolbar.large {
    padding: 0.8rem 0.9rem;

    .sep {
        height: 1.8rem;
    }
}
